<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/metahead %>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
  <div class="wrapper">
    <% include partials/header %>
  	<% include partials/sidebar %>

		<div class="content-wrapper">
			<% include partials/breadcrumb %>

      <!-- Main content -->
      <section class="content">
			  <% include dashboard %>
      </section>
      <!-- /.content -->

		</div>
    <% include partials/footer %>
  </div>

  <% include partials/metafooter %>
</body>
</html>
